*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game{
  height: 100vh;
  background-color: rgb(39, 41, 68);
  font-family: sans-serif;
}
  
  .intro h1 {
    font-size: 50px;
  }
  .score {
    color: rgb(224, 224, 224);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .score h2 {
    font-size: 30px;
  }
  .score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }
  .intro {
    color: rgb(224, 224, 224);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
  }
  
  .intro h1 {
    font-size: 50px;
  }
  
.intro button,
.match button {
  width: 150px;
  height: 50px;
  background: none;
  border: none;
  color: rgb(224, 224, 224);
  font-size: 20px;
  background: rgb(45, 117, 96);
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}
.winner {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 50px;
}
  
.hands,
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.2 ease 0.2;
}
  
  .player-hand {
    transform: rotateY(180deg);
  }

  div.fadeOut {
    opacity: 0;
    pointer-events: none; 
  }
  
  div.fadeIn {
    opacity: 1;
    pointer-events: all; 
    transition: opacity 0.5s ease 0.5s;
  }

.hidden{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.visible{
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.4s ease-in-out;
}

/*Animation hand shake*/

@keyframes shakePlayer {
  0% {
    transform: rotateY(180deg) translateY(0px);
  }
  25% {
    transform: rotateY(180deg) translateY(-50px);
  }
  50% {
    transform: rotateY(180deg) translateY(0px);
  }
  75% {
    transform: rotateY(180deg) translateY(-50px);
  }
  100% {
    transform: rotateY(180deg) translateY(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}


/*POP UP PC WINNER*/

.modal-overlay-error {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.show-error {
  opacity: 1;
  visibility: visible;
}

#error-message {
  font: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 27px;
  text-align: center;
}

#error-message2{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

/*POP UP Player WINNER*/

.modal-overlay-winner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.show-winner {
  opacity: 1;
  visibility: visible;
}

#winner-message {
  font: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 27px;
  text-align: center;
}

#winner-message2{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-winner{
  background-color: #25af30;
}

.modal-error {
  background-color: #f44336;
}

.modal-winner, .modal-error{
  padding: 2.4rem;
  width: 290px;
  animation: show_toast 1s ease forwards;
}

@keyframes show_toast {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  40% {
    opacity: 0.5;
  }
  
  80% ,100% {
    transform: translateY(-5%);
    opacity: 1;
  }
}

.modal-winner.hide{
  animation: hide_toast 1s ease forwards;
}
.modal-error.hide{
  animation: hide_toast 1s ease forwards;
}

  @keyframes hide_toast {
  0%{
  transform: translateY(-5%);
  opacity: 1;
  }
  30%{
  opacity: 0.5;
  }
  60%{
  opacity: 0;
  }
  80%, 100%{
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  }
  }
